$toolHeight: 50px;
$toolPadding: 8px;
.tool {
    position: fixed;
    left: $toolPadding;
    right: $toolPadding;
    bottom: $toolPadding;
    height: $toolHeight;
    text-align: center;
}

.item {
    display: inline-block;
    width: 50%;
}

.itemWrapper {
    margin: 0 8px;
    background-color: #E62A10;
}

$imgHeight: 22px;
.cartImg {
    height: $imgHeight;
    margin-top: ($toolHeight - $imgHeight) / 2;
}

.ticket {
    display: inline-block;
    margin-left: 10px;
    height: $toolHeight;
    line-height: $toolHeight;
    vertical-align: top;
    font-size: 18px;
    font-family: PingFangSC-Regular;
    color: white;
}

.safaLink {
    color: white;
    text-decoration: none;

    &:hover {
        color: white;
        text-decoration: none;
    }
    &:visited {
        color: white;
        text-decoration: none;
    }
}
