$phoneHeight: 80px;
.phone {
    position: relative;
    width: 100%;
    max-height: $phoneHeight;
    border-bottom: solid 1px white;
    color: white;
}

.phoneDarkTheme {
    color: black;
    border-bottom: 1px solid #EEEFF2;
}

.title {
    padding: 0;
    font-size: 16px;
}

$bottomHeight: 35px;
.bottom {
    margin-top: 15px;
    margin-bottom: 8px;
    height: $bottomHeight;
    line-height: $bottomHeight;
}

.zone {
    max-width: 50px;
    border-radius: 2px;
    padding: 4px 8px;
    vertical-align: top;
    font-size: 18px;
    background-color: white;
    color: black;
}

.inputphone {
    max-width: 240px;
    border: none;
    padding: 0;
    // margin-left: 20px;
    line-height: $bottomHeight;
    font-size: 24px;
    outline: none;
    color: white;
    background-color: transparent;
}
.inputphoneDarkTheme {
    font-family: PingFangSC-Semibold;
    color: black;
}

.checkd {
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    width: 21px;
    height: 15px;
}
