// @Author: WangChao
// @Date:   2017-06-23T16:18:04+08:00
// @Email:  crazyitcoder9527@126.com
// @Project: dreampark-web
// @Last modified by:   WangChao
// @Last modified time: 2017-09-04T20:37:10+08:00

.forgotpassword {
    position: relative;
    margin: 0 5%;
}

.nav {
    height: 44px;
}

.description {

    & > span {
        display: block;
        margin: 24px 0;
        color: white;
    }
    & > span:first-child {
        font-size: 28px;
    }
    & > span:last-child {
        font-size: 18px;
    }
}

.bottom {
    & > div {
        margin-bottom: 24px;
    }
}
