.forgotpassword {
    position: relative;
    margin: 0 5%;
}

.nav {
    height: 44px;
}

.description {

    & > span {
        display: block;
        margin: 24px 0;
        color: white;
    }
    & > span:first-child {
        font-size: 28px;
    }
    & > span:last-child {
        font-size: 18px;
    }
}

.bottom {
    & > div {
        margin-bottom: 24px;
    }
}
