// @Author: WangChao
// @Date:   2017-09-04T14:34:57+08:00
// @Email:  crazyitcoder9527@126.com
// @Project: dreampark-web
// @Last modified by:   WangChao
// @Last modified time: 2017-09-04T14:46:26+08:00

.launching {
    position: relative;
    padding: 20px;
}

$launchingTopHeight: 0px;
.launchingTop {
    width: 100%;
    height: $launchingTopHeight;
    line-height: $launchingTopHeight;
}

.loginButton {
    float: right;
    min-width: 80px;
    border: none;
    padding: 0;
    // margin-right: 5%;
    line-height: $launchingTopHeight;
    outline: none;
    font-size: 18px;
    text-align: right;
    color: white;
    background-color: transparent;
}

.dreampark {
    width: 100%;
    margin-top: 50px;
    & > img {
        width: 100%;
        vertical-align: top;
    }
}

$logoHeight: 70px;
.appLogo {
    margin-top: 44px;
    &>img {
        width: $logoHeight;
        height: $logoHeight;
        border-radius: $logoHeight/2;
    }
}

.description {
    margin: 36px 0;
    font-size: 28px;
    color: white;
}

.buttons {
    width: 100%;
    & > div {
        margin: 20px 0;
    }
}

.declare {
    margin-top: 44px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1.5px;
    color: white;

    & > span > a {
        text-decoration: underline;
        color: white;
    }
}
