$headerHeight: 130px;
.header {
    height: $headerHeight;
    white-space: nowrap;
    background-color: white;
}

$avatarHeight: 60px;
.avatar {
    height: $avatarHeight;
    margin: ($headerHeight - $avatarHeight)/2 0;
    margin-left: 50px;
    @media screen and (max-width: 370px) {
        margin-left: 20px;
    }
}

.info {
    display: inline-block;
    height: $avatarHeight;
    margin: ($headerHeight - $avatarHeight)/2 0;
    margin-left: 13px;
    vertical-align: top;

    & > div {
        display: block;
    }
}

.username {
    font-size: 20px;
    color: #143B6E;
}

.userBarode {
    font-size: 0;
    vertical-align: top;
    width: 100%;
    background-color: white;
}

.vip {
    width: 56px;
    height: 22px;
    margin-left: 13px;
    vertical-align: text-bottom;
}

.tip {
    margin-top: 5px;
    font-size: 14px;
    color: #9B9B9B;
}

.qrcode {
    display: inline-block;
    height: $avatarHeight;
    width: $avatarHeight;
    margin: ($headerHeight - $avatarHeight)/2 0;
    margin-left: 45px;
    @media screen and (max-width: 370px) {
        margin-left: 15px;
    }
    vertical-align: top;

    & > img {
        width: 100%;
        font-size: 0;
        vertical-align: top;
    }
}

$bottomHeight: 40px;
.bottom {
    height: $bottomHeight;
    background-color: #2D343B;

    & > div {
        display: inline-block;
        width: 33.3%;
        line-height: $bottomHeight;
        font-size: 16px;
        color: white;
        text-align: center;
    }
}

.item {
    display: inline-block;
    height: $bottomHeight;
    line-height: $bottomHeight;
}

.itemActive {
    border-bottom: 3px solid #E62A10;
}

// 查看个人二维码
.userqrcode {
    margin: 15px 0;
}

.userqrcodeWrapper {
    padding: 0px 20px;
}

.userqrcodeTop {
    border-bottom: 1px dashed #9B9B9B;
}

.realnameAuthentication {
    margin-bottom: 20px;
    text-align: center;
    & > span {
        font-size: 24px;
        color: #000000;
    }

    @media(max-width: 320px) {
        margin-bottom: 20px;
    }
}

.userInfoDetails {
    display: inline-block;
    width: 100%;
    text-align: center;
}

$userAvatarHeight: 60px;
.userAvatar {
    width: $userAvatarHeight;
    height: $userAvatarHeight;
    font-size: 0;
    vertical-align: top;
}

$usernameMinWidth: 80px;
.usernameExpand {
    display: inline-block;
    min-width: $usernameMinWidth;
    text-align: center;
    line-height: $userAvatarHeight;
}

.userIDCard {
    display: block;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #9B9B9B;
}

.userqrcodeBottom {
    margin: 15px 0;
}

.buyTip {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
    color: #9B9B9B;
}

$buyHelperHeight: 44px;
.buyHelper {
    display: block;
    width: 100%;
    height: $buyHelperHeight;
    // margin-top: 10px;
    margin-bottom: 15px;
    border-radius: $buyHelperHeight / 2;

    font-size: 18px;
    line-height: $buyHelperHeight;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #E62A10;

    &:hover {
        color: white;
        text-decoration: none;
    }
    &:visited {
        color: white;
        text-decoration: none;
    }
}

.makeQRCode {
    width: 100%;
    text-align: center;
}

.qrcodeDescription {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: black;
}

.randomString {
    display: inline-block;
    width: 100%;
    margin-top: 3px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}
