$detailBottomMargin: 75px;
.detail {
    // margin-bottom: $detailBottomMargin;
    border-bottom: $detailBottomMargin solid transparent;
}

/**
 *   轮播图的样式
 */
.carousel {
    margin-top: 0px;
}

$carouselHeight: 200px;
.carouselCard {
    height: $carouselHeight;
    & > img {
        width: 100%;
        height: $carouselHeight;
        vertical-align: top;
    }
}

.content {
    margin: 0 20px;
}

.container {
    margin: 0 20px;
}

.title {
    margin: 20px 0;
    font-size: 22px;
    color: #D0011B;
}

.contentWrap {
    overflow: hidden;
}

.viewMoreWrap {
    position: relative;
    width: 100%;
}

.viewMore {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    width: 190px;
    height: 40px;
    border-radius: 20px;

    font-size: 14px;
    color: white;
    text-align: center;
    background-color: #E62A10;

    & > span {
        line-height: 40px;
    }
    & > img {
        width: 20px;
        margin-left: 12px;
        vertical-align: middle;
    }
}

.gradient {
    position: absolute;
    left: 0;
    right: 0;
    top: -70px;
    height: 70px;
    background: linear-gradient(0deg, white, rgba(255, 255, 255, 0.1));
}

.item {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.activityTime {
    font-size: 16px;
    color: black;
}

.activityLocation {
    font-size: 16px;
    color: black;
}

.attention {
    font-family: PingFangSC-Light;
    font-size: 16px;
    color: black;
}

.textOfWhiteSpaceDeal {
    white-space: pre-line;
}

.tip {
    margin: 20px 0;
    font-size: 18px;
    color: #E62A10;
}

.recommend {
    width: 100%;
    overflow: hidden;
}
.recommendWarp {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch !important;
}
.recommendWarp::-webkit-scrollbar {
    display: none;
}

$toolBarHeight: 55px;
$toolBarMargin: 10px;
$toolBarPadding: 12px;
.noTickets {
    position: fixed;
    left: $toolBarMargin;
    right: $toolBarMargin;
    bottom: $toolBarMargin;
    height: $toolBarHeight;
    padding: $toolBarPadding 20px;

    font-family: PingFangSC-Regular;
    font-size: 16px;
    line-height: ($toolBarHeight - $toolBarPadding * 2);
    text-align: center;
    white-space: nowrap;
    background-color: #D6D6D6;

    @media screen and (max-width: 370px) {
        padding: $toolBarPadding 10px;
    }
}
