.changepassword {
    position: relative;
    margin: 0 20px;
}

.description {

    & > span {
        display: block;
        margin: 24px 0;
        color: white;
    }
    & > span:first-child {
        font-size: 28px;
    }
    & > span:last-child {
        font-size: 18px;
    }
}

.interaction {
    & > div:last-child {
        margin-top: 10px;
    }
}

.nextstep {
    margin-top: 44px;
    & > div:first-child {
        display: inline-block;
        width: 60%;
    }
    & > div:last-child {
        display: inline-block;
        width: 35%;
        margin-left: 5%;
    }
}
