// @Author: WangChao
// @Date:   2017-06-23T17:03:46+08:00
// @Email:  crazyitcoder9527@126.com
// @Project: dreampark-web
// @Last modified by:   WangChao
// @Last modified time: 2017-09-05T10:14:04+08:00

.register {

}

.container {
    position: relative;
    padding-top: 44px;
}

.nav {
    margin: 0 20px;
}
