.container {
    position: relative;
}

.containerWrapper {
    margin: 0 20px;
}

.skip {
    width: 100%;
    height: 44px;
    & > span {
        float: right;
        text-align: center;
        line-height: 44px;
        font-size: 16px;
        color: white;
    }
}

.title {
    margin-top: 15px;
    & > span {
        font-size: 28px;
        color: #FFFFFF;
    }
}

.description {
    margin: 25px 0;
    & > span {
        font-size: 18px;
        color: #FFFFFF;
    }
}

.priceInfo {
    position: relative;
    width: 100%;
    margin-top: 15%;
    border-radius: 10px;

    @media(max-width: 320px) {
        margin-top: 10%;
    }
}

.priceInfoWrapper {
    position: relative;
    padding: 15px;
}

.cardImage {
    position: absolute;
    width: 100%;
}

.vipLogo {
    padding-top: 10px;
    margin-left: 15px;
    & > img {
        width: 56px;
        height: 22px;
        margin-right: 8px;
        font-size: 0;
        vertical-align: middle;
    }
    & > span {
        font-size: 24px;
        font-weight: bold;
        color: #E01B19;
        vertical-align: middle;
    }
}
.vipLogo::before {
    display: inline-block;
    content: ' ';
    height: 100%;
    vertical-align: middle;
}


.vipPrice {
    margin-top: 10px;
    text-align: center;
}

.price {
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    color: #000000;
    vertical-align: baseline;
}

.priceSymbol {
    font-size: 16px;
    font-weight: bold;
    color: black;
    vertical-align: baseline;
}

.priceCNSymbol {
    display: inline-block;
    padding-left: 4px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    vertical-align: baseline;
}

.vipRights {
    margin: 20px 0;
    text-align: center;
    & > a {
        font-size: 14px;
        color: black;
        vertical-align: middle;
    }
    & > img {
        height: 12px;
        margin-left: 5px;
        font-size: 0px;
        vertical-align: middle;
    }
}

.vipRights::before {
    display: inline-block;
    content: ' ';
    height: 100%;
    // height: 21px;
    vertical-align: middle;
}

.goPay {
    position: fixed;
    left: 20px;
    right: 20px;
    bottom: 40px;
}
