$ticketBorderBottom: 75px;
.ticketContent {
    border-bottom: $ticketBorderBottom solid transparent;
}

.ticketWrap {
    padding: 0 20px;
}

$noTicketsMessageTopMargin: 60px;
.noTicketsMessage {
    margin-top: $noTicketsMessageTopMargin;
    font-size: 16px;
    text-align: center;
    color: #9B9B9B;
}
