$elementVerMargin: 14px;
.title {
    padding: $elementVerMargin 0;
    border-bottom: 1px solid #DEDEDE;
    font-size: 20px;
    color: black;
}

.text {
    margin: $elementVerMargin 0;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: black;
}

.image {
    margin: $elementVerMargin 0;
    & > img {
        display: block;
        margin: auto;
        width: 100%;
        vertical-align: top;
    }
}

.bigImageElement {
    margin: $elementVerMargin -20px;

    & > img {
        display: block;
        width: 100%;
        vertical-align: top;
    }
    & > div {
        display: -webkit-box;
        box-sizing: content-box;
        max-height: 75px;
        padding: 5px 20px;

        font-size: 14px;
        line-height: 25px;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        color: white;
        background-color: #2D343B;
    }
}
