// @Author: WangChao
// @Date:   2017-09-05T10:03:54+08:00
// @Email:  crazyitcoder9527@126.com
// @Project: dreampark-web
// @Last modified by:   WangChao
// @Last modified time: 2017-09-05T10:12:46+08:00

.stepthree {
    margin: 0 5%;
}

.nextstep {
    float: right;
    width: 35%;
}

.okButton {
    width: 100%;
}
