.pageNotExist {
}

.content {
    height: 80px;
    font-size: 16px;
    color: #ccc;
}

.realCenter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
