.pageContent {
    padding-bottom: 65px;
}

// 票面信息
.ticketInfo {
    position: relative;
    padding: 20px;
    background-color: #E62A10;

    @media (max-width: 320px) {
        padding: 15px;
    }
}
.ticketImageWrap {
    font-size: 0px;
    & > img {
        width: 100%;
        vertical-align: top;
    }
}

$ticketContentMargin: 24px;
.ticketDetails {
    position: absolute;
    top: $ticketContentMargin;
    bottom: $ticketContentMargin;
    left: $ticketContentMargin;
    right: $ticketContentMargin;
}

.ticketDescription {
    display: inline-block;
    padding: 10px;
    max-width: 80%;
}
.ticketDescriptionWrap {
    & > span {
        display: block;
        margin: 5px;

        @media (max-width: 320px) {
            margin: 0;
        }
    }
}
.ticketTitle {
    font-family: PingFangSC-Semibold;
    font-size: 20px;
    color: black;
}
.ticketTimeInfo {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: black;
}
.ticketDuration {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #9B9B9B;
}

.ticketPrice {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);

    display: inline-block;
    float: right;
    height: 30px;
    margin-right: 10px;

    font-family: PingFangSC-Regular;
    font-size: 18px;
    line-height: 30px;
    color: #E62A10;

    @media (max-width: 320px) {
        margin-right: 0px;
    }
}

// 联系人列表
.contactList {
    padding: 20px 20px;
    border-bottom: 1px solid #DEDEDE;
}

.contactListHeader {
    margin-bottom: 15px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #1C2123;
    & > span:last-child {
        float: right;
        color: #939393;
    }
}

.contactListWrap {
    margin: 0 -5px;
}

// 联系人
.contactWrap {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

$contactHeight: 40px;
.contact {
    position: relative;
    display: inline-block;
    height: $contactHeight;
    width: 90%;
    margin: 5px 3px;
    border-radius: 3px;
    border: 1px solid #D6D6D6;
    text-align: center;
    background-color: #FFFFFF;
}

$contactNameLineHeight: 20px;
.contactName {
    display: inline-block;
    padding-top: ($contactHeight - $contactNameLineHeight) / 2;
    line-height: $contactNameLineHeight;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #1C2123;
}

.contactHasSurance {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 10px;
    height: 11px;
}

.contactSelected {
    position: absolute;
    display: inline-block;
    right: -1px;
    bottom: -1px;
    font-size: 0;
    & > img {
        vertical-align: top;
        width: 17px;
    }
}
.checkedContact {
    border: 1px solid #E62A10;
}

// 新增联系人
.addContact {
    color: #E62A10;
    line-height: 20px;
    margin-top: 9px;
    & > img {
        width: 20px;
        height: 20px;
        margin-right: 8px;
        vertical-align: top;
    }
}

// 联系人信息
.checkedContactInfo {
    margin-left: 20px;
}

$singleInfoHeight: 70px;
.singleInfo {
    height: $singleInfoHeight;
    border-bottom: 1px solid #DEDEDE;
}

$minusImageHeight: 25px;
.minus {
    display: inline-block;
    margin-top: ($singleInfoHeight - $minusImageHeight) / 2;
    & > img {
        width: $minusImageHeight;
        height: $minusImageHeight;
        vertical-align: top;
    }
}

.infoContent {
    position: relative;
    display: inline-block;
}

$infoWrapMinWidth: 240px;
.infoContentWrap {
    position: absolute;
    top: 50%;
    min-width: $infoWrapMinWidth;
    transform: translateY(-50%);

    margin-left: 16px;
    & > span {
        display: block;
        color: #1C2123;
    }
    & > span:first-child {
        font-family: PingFangSC-Semibold;
        font-size: 18px;
    }
    & > span:last-child {
        margin-top: 5px;
        font-family: PingFangSC-Regular;
        font-size: 14px;
    }
}

$insuranceServiceHeight: 60px;
.insuranceService {
    background-color: #EFEFF4;
    height: $insuranceServiceHeight;
    padding: 5px 0;
}

.insuranceServiceWrap {
    position: relative;
    height: $insuranceServiceHeight - 10px;
    padding: 0 20px;
    background-color: white;

    & > span {
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        display: inline-block;
        vertical-align: top;
    }
    & > span:last-child {
        float: right;
    }
}
.imageWrap {
    display: inline-block;
    font-size: 0px;
}
.imgsafe {
    width: 20px;
    height: 22px;
}
.insuranceText {
    margin-left: 20px;
    font-size: 16px;
    color: #1C2123;
}
.goDetailArrow {
    width: 18px;
    height: 18px;
}

.insuranceAttention {
    padding: 15px 20px;
    font-family: PingFangSC-Regular;
    line-height: 20px;
    font-size: 14px;
    color: #9B9B9B;
}

// 底部的工具栏
$toolbarHeight: 55px;
.toolbar {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;

    height: $toolbarHeight;
    text-align: center;
    line-height: $toolbarHeight;
    background-color: #2D343B;
}
.price {
    display: inline-block;
    font-size: 16px;
    color: white;

    & > span:last-child {
        margin-left: 18px;
        color: #EC0539
    }
}
.nextStep {
    position: absolute;
    right: 5px;
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    color: white;
}

// 新增联系人
.addContactTitle {
    text-align: center;
}

.addContactContent {

}

.addContactAttention {
    border-bottom: 1px solid #EEEFF2;
    & > span {
        display: block;
    }
    & > span:first-child {
        font-family: PingFangSC-Medium;
        font-size: 16px;
        color: black;
    }
    & > span:last-child {
        margin: 5px 0 5px 0;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #9B9B9B;
    }
}

.addContactInteraction {
    & > div {
        margin: 15px 0;
    }
}

$finishedButtonHeight: 44px;
.finishedButton {
    width: 100%;
    height: $finishedButtonHeight;
    margin-bottom: 0px !important;
    border: none;
    border-radius: 3px;
    outline: none;

    font-size: 16px;
    line-height: $finishedButtonHeight;
    text-align: center;
    color: white;
    background-color: #2D343B;
}
