.ticketDetail {
}

.info {
    border-bottom: 1px dashed;
}

.title {
    font-family: PingFangSC-Semibold;
    font-size: 20px;
    color: black;
}

.date {
    margin-top: 10px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: black;
}

.time {
    margin-top: 14px;

    & > div {
        display: inline-block;
        width: 50%;
    }
}

.item {
    display: block;
    font-family: PingFangSC-Regular;
}

.itemTitle {
    font-size: 14px;
    color: #9B9B9B;
}

.itemTime {
    font-size: 28px;
    color: #E62A10;
}

.location {
    height: 25px;
    line-height: 25px;
    margin-top: 14px;
    margin-bottom: 25px;
    font-family: PingFangSC-Regular;
    & > span {

    }
    & > span:first-child {
        font-size: 14px;
        color: #1C2123;
    }
    & > span:last-child {
        float: right;
        font-size: 12px;
        color: #E62A10;
    }
}

$qrcodeHeight: 200px;
$qrcodeWrapHeight: 160px;
.qrcode {
    position: relative;
    height: $qrcodeHeight;
    & > div {
        position: absolute;
        left: 50%;
        right: 0;
        top: 50%;
        bottom: 0;
        width: $qrcodeWrapHeight;
        height: $qrcodeWrapHeight;
        transform: translate(-50%, -50%);
        background-color: white;
    }
}
.barcode {
    font-size: 0;
    vertical-align: top;
    width: 100%;
}
